*{
    margin: 0;
}

header {
    background-color: rgb(206, 206, 206);
    height: 80px;
    position: relative;
}

#square{
    display: block;
    background-color: rgb(78, 120, 212);
    height: 50px;
    width: 50px;
    position: absolute;
    top: 15px;
    left: 15px;
}

section {
    padding: 40px;
}

#blue {
    height: 200px;
    background-color: rgb(78, 120, 212);
}
#teal {
    height: 200px;
    background-color: turquoise;
}
#yellow-green {
    height: 200px;
    background-color: rgb(197, 216, 87);
}
#yellow {
    height: 200px;
    background-color: yellow;
}

#help-button {
    background-color: black;
    color: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
